<div class="copyright">
	<div class="corybox">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?5d3483062f7cd7cf23a6bb009c1f4b68";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

		<p>
		<a href="javascript:;">关于本站</a> | <a href="javascript:;">隐私声明</a> | <a href="javascript:;">诚聘英才</a> | <a href="javascript:;">网站地图</a> | <a href="javascript:;">帮助中心</a>| <a href="http://www.hxuew.com/">好学网</a><br>
		{$DT[copyright]}<br>
		网站备案号:<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">京ICP备12052109号-4</a><br>
		</p>
	</div>
</div>