<div class="topheader">
	<div class="topline">
	<div class="top-nav">
	<a href="{$MODULE[1][linkurl]}">好学网</a> 
	</div>
	<b>
	<a href="javascript:;" target="_self">收藏</a> │
	<a  href="javascript:;">设为首页</a> │
	<a href="javascript:;">网站地图</a>
	</b>
	</div>
	</div>
	<div class="header">
	<!--<div class="cntop" style="margin:5px 0 0;text-align:center;"><img src="http://www.ppho.cn/skin/skin_fashion/images/index/nai-t.jpg" alt=""></div>-->
	<!-- <div class="top clearfix">
		  <div class="logo"><a href="{$MODULE[1][linkurl]}">好学网</a></div>
		  <div class="top700"></div>
	</div> -->
	<div class="qgtitle">
	<div class="qgtitle_1"></div>
	<div class="navb">
	<h3><a href="{$MODULE[1][linkurl]}">好学网</a></h3>
	<h3><a href="{$MODULE[1][linkurl]}news/yasi-c39-1.html">雅思</a></h3>
	<h3><a href="{$MODULE[1][linkurl]}news/tuofu-c40-1.html">托福</a></h3>
	<h3><a href="{$MODULE[1][linkurl]}news/sat-c41-1.html">SAT</a></h3>
	<h3><a href="{$MODULE[1][linkurl]}news/gre-c42-1.html">GRE</a></h3>
	<h3><a href="{$MODULE[1][linkurl]}news/gmat-c43-1.html">GMAT</a></h3>
	</div>
	</div>
	</div> <!-- end header -->